# Starter Notebook (to make the following pulls):
## WHO Mortality and Population data
## World Bank GDP data
## ICD-10 Codes

In [1]:
import pandas as pd

In [12]:
# WHO Mortality data
# Part 1 - https://www.who.int/healthinfo/statistics/Morticd10_part1.zip?ua=1
# Part 2 - https://www.who.int/healthinfo/statistics/Morticd10_part2.zip?ua=1

mortality_part1 = pd.read_csv('Morticd10_part1.csv', low_memory = False)
mortality_part2 = pd.read_csv('Morticd10_part2.csv', low_memory = False)
mortality = pd.concat([mortality_part1, mortality_part2])

# WHO Country Codes
# https://www.who.int/healthinfo/statistics/country_codes.zip?ua=1

country_codes = pd.read_csv('country_codes.csv', low_memory = False)

# WHO Population data
# https://www.who.int/healthinfo/Pop.zip?ua=1

population = pd.read_csv('pop.csv', low_memory = False)

In [13]:
# World Bank GDP data (per capita, by country)
# http://api.worldbank.org/v2/en/indicator/NY.GDP.PCAP.CD?downloadformat=csv

gdp = pd.read_csv('GDP.csv')

In [14]:
# ICD Codes for year 2011
# ftp://ftp.cdc.gov/pub/Health_Statistics/NCHS/Publications/ICD10CM/2011/

icd10_codes = pd.read_fwf('icd10_codes_2011.txt', header = None)
icd10_codes.columns = ["Code", "Description"]

In [17]:
# A peek at Mortality Data

mortality.head(1).T

               0
Country     1400
Admin1       NaN
SubDiv       NaN
Year        2001
List         101
Cause       1000
Sex            1
Frmat          7
IM_Frmat       8
Deaths1      332
Deaths2        8
Deaths3        2
Deaths4      NaN
Deaths5      NaN
Deaths6      NaN
Deaths7        1
Deaths8      NaN
Deaths9        9
Deaths10     NaN
Deaths11      21
Deaths12     NaN
Deaths13      36
Deaths14     NaN
Deaths15      39
Deaths16     NaN
Deaths17      53
Deaths18     NaN
Deaths19      68
Deaths20     NaN
Deaths21      95
Deaths22     NaN
Deaths23     NaN
Deaths24     NaN
Deaths25     NaN
Deaths26       0
IM_Deaths1     8
IM_Deaths2   NaN
IM_Deaths3   NaN
IM_Deaths4   NaN

In [18]:
# A peek at the WHO Country Codes

country_codes.head(1)

   country     name
0     1010  Algeria

In [19]:
# A peek at the Population dataset

population.head(1).T

              0
Country    1060
Admin1      NaN
SubDiv      NaN
Year       1980
Sex           1
Frmat         7
Pop1     137100
Pop2       3400
Pop3      15800
Pop4        NaN
Pop5        NaN
Pop6        NaN
Pop7      39200
Pop8        NaN
Pop9      22700
Pop10       NaN
Pop11     12600
Pop12       NaN
Pop13     12600
Pop14       NaN
Pop15      7800
Pop16       NaN
Pop17      8200
Pop18       NaN
Pop19      5300
Pop20       NaN
Pop21      2900
Pop22       NaN
Pop23       NaN
Pop24       NaN
Pop25       NaN
Pop26      6500
Lb         5000

In [20]:
# A peek at the ICD-10 codes for 2011

icd10_codes.head(1)

   Code                                        Description
0  A000  Cholera due to Vibrio cholerae 01, biovar chol...

In [21]:
# A peek at the GDP dataset

gdp.head(1).T

                                           0
Country Name                           Aruba
Country Code                             ABW
Indicator Name  GDP per capita (current US$)
Indicator Code                NY.GDP.PCAP.CD
1960                                     NaN
1961                                     NaN
1962                                     NaN
1963                                     NaN
1964                                     NaN
1965                                     NaN
1966                                     NaN
1967                                     NaN
1968                                     NaN
1969                                     NaN
1970                                     NaN
1971                                     NaN
1972                                     NaN
1973                                     NaN
1974                                     NaN
1975                                     NaN
1976                                     NaN
1977                                     NaN
1978                                     NaN
1979                                     NaN
1980                                     NaN
1981                                     NaN
1982                                     NaN
1983                                     NaN
1984                                     NaN
1985                                     NaN
...                                      ...
1989                                 11392.5
1990                                 12307.3
1991                                   13496
1992                                 14046.5
1993                                 14936.8
1994                                   16241
1995                                 16439.4
1996                                 16586.1
1997                                 17927.7
1998                                 19078.3
1999                                 19356.2
2000                                 20620.7
2001                                   20669
2002                                 20436.9
2003                                 20833.8
2004                                   22570
2005                                   23300
2006                                 24045.7
2007                                 25835.6
2008                                   27086
2009                                 24630.9
2010                                 23512.6
2011                                 24984.3
2012                                 24709.6
2013                                 25018.3
2014                                 25528.4
2015                                 25796.4
2016                                 25251.6
2017                                 25655.1
2018                                     NaN

[63 rows x 1 columns]

In [70]:
Deaths2_group = pd.DataFrame(mortality.groupby(['Country', 'Year', 'Cause'])['Deaths2'].sum())
Deaths2_non_null = Deaths2_group[Deaths2_group["Deaths2"]!=0]
Deaths2_group.sort_values(["Year", "Deaths2"], ascending=False,inplace=True)
Deaths2_group=Deaths2_group.reset_index()
Result = Deaths2_group.groupby(["Country"]).head(4)
Result.to_csv("Deaths2 Count by Cause and Year.csv",index=False)

In [71]:
Deaths2_by_cause_and_year = pd.read_csv('Deaths2 Count by Cause and Year.csv')

In [82]:
dropped_AAA_totals = Deaths2_by_cause_and_year[Deaths2_by_cause_and_year['Cause'] != 'AAA']

In [83]:
Deaths2_2016 = dropped_AAA_totals[dropped_AAA_totals.Year == 2016]

In [84]:
Deaths2_cause_totals_2016 = pd.DataFrame(Deaths2_2016.groupby(['Cause'])['Deaths2'].sum())

In [85]:
Deaths2_cause_totals_2016_sorted = Deaths2_cause_totals_2016.sort_values('Deaths2', ascending = False)

In [86]:
Deaths2_cause_totals_2016_sorted.head(6)

       Deaths2
Cause
P220    9033.0
P369    7523.0
Q249    4976.0
P072    4117.0
R959    1673.0
R99     1378.0

In [87]:
Deaths2_cause_totals_2016_by_country = pd.DataFrame(Deaths2_2016.groupby(['Country', 'Cause'])['Deaths2'].sum())

In [88]:
Deaths2_cause_totals_2016_by_country.sort_values('Deaths2', ascending = False)

               Deaths2
Country Cause
2450    P072    3044.0
2070    P369    2895.0
2310    P220    2685.0
        P369    2558.0
2070    P220    2046.0
2310    Q249    1990.0
3400    P220    1891.0
2450    R959    1500.0
2070    Q249    1452.0
2450    R99     1247.0
4335    P22     1020.0
3400    P369     977.0
4335    P23      927.0
2250    J189     917.0
4335    J18      803.0
4310    P072     763.0
3400    Q249     661.0
2250    P220     652.0
3380    P07      572.0
2020    P070     518.0
4301    P21      499.0
2020    P220     484.0
2250    P369     461.0
4184    P011     437.0
2180    P220     436.0
3380    P36      432.0
2020    Q249     425.0
4301    P96      375.0
3380    Q24      370.0
4301    Q03      318.0
...                ...
3080    P220       6.0
3350    R99        5.0
        P293       5.0
2420    P369       5.0
4055    P21        4.0
3030    P070       4.0
        A419       3.0
2420    P072       3.0
        P073       3.0
3080    P524       3.0
4055    P22        3.0
2385    P783       2.0
2010    P220       2.0
        P369       2.0
2385    P220       2.0
3080    Q249       2.0
2025    P072       1.0
        G129       1.0
2455    P220       1.0
        R959       1.0
        P523       1.0
2005    Q909       1.0
2385    J189       1.0
2025    Q606       1.0
2050    R99        1.0
        P969       1.0
        P916       1.0
2010    G419       1.0
2005    C349       0.0
        C19        0.0

[138 rows x 1 columns]

In [94]:
Deaths2_cause_totals_all_time = pd.DataFrame(dropped_AAA_totals.groupby(['Cause'])['Deaths2'].sum())

In [95]:
Deaths2_cause_totals_all_time_sorted = Deaths2_cause_totals_all_time.sort_values('Deaths2', ascending = False)

In [96]:
Deaths2_cause_totals_all_time_sorted

       Deaths2
Cause
1000   22937.0
P220   15842.0
P369   15245.0
1092   11916.0
P07     7669.0
P22     6882.0
P072    6649.0
J18     6454.0
Q249    6237.0
R99     5576.0
1093    4854.0
R62     4681.0
I50     4134.0
J189    3196.0
P073    2518.0
Q24     2323.0
A09     2292.0
P96     2172.0
R959    1987.0
A40     1427.0
A41     1394.0
P070    1275.0
1072    1061.0
P229    1009.0
1095     989.0
P219     981.0
P23      927.0
P52      688.0
P36      660.0
P011     583.0
...        ...
P968       5.0
P025       5.0
Q790       5.0
P293       5.0
I469       4.0
P964       4.0
P916       3.0
P524       3.0
P209       3.0
P240       2.0
P783       2.0
P018       2.0
P543       2.0
G419       1.0
G129       1.0
G120       1.0
P91        1.0
Q606       1.0
P059       1.0
Q909       1.0
A162       0.0
B232       0.0
1003       0.0
C159       0.0
C169       0.0
C19        0.0
C349       0.0
C509       0.0
1001       0.0
1002       0.0

[100 rows x 1 columns]

In [98]:
mortality.Year.unique()

array([2001, 2002, 2003, 2004, 1996, 1997, 1998, 1999, 2000, 1995, 1994,
       1988, 1989, 1990, 1991, 1992, 1993, 2005, 2006, 2007, 2008, 2009,
       2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017], dtype=int64)

In [101]:
pd.read_csv('Mortality Cause Code Descriptions.csv')

,Cause,ICD-10 Code(s),Cause Description
0,1000,,All causes
1,1001,A00-B99,Certain infectious and parasitic diseases
2,1002,A00,Cholera
3,1003,A09,Diarrhoea and gastroenteritis of presumed infe...
4,1004,A01-A08,Other intestinal infectious diseases
5,1005,A15-A16,Respiratory tuberculosis
6,1006,A17-A19,Other tuberculosis
7,1007,A20,Plague
8,1008,A33-A35,Tetanus
9,1009,A36,Diphtheria
10,1010,A37,Whooping cough
11,1011,A39,Meningococcal infection
12,1012,A40-A41,Septicaemia
13,1013,A50-A64,Infections with a predominantly sexual mode of...
14,1014,A80,Acute poliomyelitis
15,1015,A82,Rabies
16,1016,A95,Yellow fever
17,1017,"A90-A94, A96-A99",Other arthropod-borne viral fevers and viral h...
18,1018,B05,Measles
19,1019,B15-B19,Viral hepatitis
20,1020,B20-B24,Human immunodeficiency virus [HIV] disease
21,1021,B50-B54,Malaria
22,1022,B55,Leishmaniasis
23,1023,B56-B57,Trypanosomiasis
24,1024,B65,Schistosomiasis
25,1025,"A21-A32, A38, A42-A49, A65-A79, A81, A83-A89, ...",Remainder of certain infectious and parasitic ...
26,1026,C00-D48,Neoplasms
27,1027,C00-C14,"Malignant neoplasm of lip, oral cavity and pha..."
28,1028,C15,Malignant neoplasm of oesophagus
29,1029,C16,Malignant neoplasm of stomach
...,...,...,...
74,1074,J12-J18,Pneumonia
75,1075,J20-J22,Other acute lower respiratory infections
76,1076,J40-J47,Chronic lower respiratory diseases
77,1077,"J00-J06, J30-J39, J60-J98",Remainder of diseases of the respiratory system
78,1078,K00-K92,Diseases of the digestive system
79,1079,K25-K27,Gastric and duodenal ulcer
80,1080,K70-K76,Diseases of the liver
81,1081,"K00-K22, K28-K66, K80-K92",Remainder of diseases of the digestive system
82,1082,L00-L98,Diseases of the skin and subcutaneous tissue
83,1083,M00-M99,Diseases of the musculoskeletal system and con...
84,1084,N00-N98,Diseases of the genitourinary system
85,1085,N00-N15,Glomerular and renal tubulo-interstitial disea...
86,1086,N17-N98,Remainder of diseases of the genitourinary sys...
87,1087,O00-O99,"Pregnancy, childbirth and the puerperium"
88,1088,O00-O07,Pregnancy with abortive outcome
89,1089,O10-O92,Other direct obstetric deaths
90,1090,O98-O99,Indirect obstetric deaths
91,1091,O95-O97,"Remainder of pregnancy, childbirth and the pue..."
92,1092,P00-P96,Certain conditions originating in the perinata...
93,1093,Q00-Q99,"Congenital malformations, deformations and chr..."
94,1094,R00-R99,"Symptoms, signs and abnormal clinical and labo..."
95,1095,V01-Y89,External causes of morbidity and mortality
96,1096,V01-V99,Transport accidents
97,1097,W00-W19,Falls
98,1098,W65-W74,Accidental drowning and submersion
99,1099,X00-X09,"Exposure to smoke, fire and flames"
100,1100,X40-X49,Accidental poisoning by and exposure to noxiou...
101,1101,X60-X84,Intentional self-harm
102,1102,X85-Y09,Assault
103,1103,"W20-W64, W75-W99, X10-X39, X50-X59, Y10-Y89",All other external causes